---
// components
import Head from "../components/Head.astro";
---

<!doctype html>
<html lang="en-US">
	<Head path="/" title="404" no-crawl="true">
		<Fragment slot="preload"></Fragment>
	</Head>
	<body>
		<main>
			<h1>404 Not Found</h1>
      <p>Redirecting to homepage.<br /><a href="/">Click here if you are not automatically redirected</a></p>
		</main>
	</body>
</html>
