---
import { Image } from "astro:assets";

import Page from "@layouts/Page.astro";
import Section from "@components/Section.astro";

import robux_icon from "@assets/robux.png";
import kofi_icon from "@assets/kofi-cup.png";
---

<Page path={Astro.url.pathname} title="Purchase Info">
	<h1>🔥 NullFire+ 🔥</h1>
	<p class="lead">NullFire+ is a premium script for Roblox that offers many features and advantages.</p>
	<p class="lead-subtext">You can currently buy NullFire+ from two platforms.</p>

	<Section title="Features" id="features">
		<p>NullFire+ is an addon to the normal NullFire which provides these perks:</p>
		<ul>
			<li>keysystem bypass (when the keysys is enabled)</li>
			<li>extra features (depends on game)</li>
			<li>access to #hidden-general in our Discord</li>
		</ul>
	</Section>

	<Section title="Purchase Methods" id="purchase">
		<div class="buttonsList">
			<button type="button" class="purchaseButton" onclick="window.location.href='https://ko-fi.com/s/5f17256f4d'">
				<Image
					src={kofi_icon}
					format="png"
					quality="max"
					priority
					class="kofi-icon"
					aria-hidden="true"
					alt=""
				/>
				Pay with Kofi
			</button>

			<button
				type="button"
				class="purchaseButton"
				onclick="window.location.href='https://www.roblox.com/games/15577219793/NullFire'"
			>
				<Image
					src={robux_icon}
					format="png"
					quality="max"
					priority
					class="rbx-icon"
					aria-hidden="true"
					alt=""
					referrerpolicy="no-referrer"
					crossorigin="anonymous"
				/>
				Pay with Robux
			</button>
		</div>
	</Section>

	<Section title="Terms" id="toc">
		<p>By purchasing NullFire+, you agree to the following Terms and Conditions:</p>
		<ul>
			<li>All purchases are final and non-refundable.</li>
			<li>You are at least 18 years old, or at least 16 years old with parental consent. Unauthorized or underage purchases are strictly prohibited.</li>
			<li>You have read and agree to our <a href="/privacy" rel="privacy-policy noopener">Privacy Policy</a>.</li>
			<li>These Terms and Conditions are subject to change at any time.</li>
			<li>If and when these Terms and Conditions are changed, the "last modified" date listed below will be updated.</li>
			<li>You are responsible for regularly monitoring these Terms and Conditions for changes.</li>
			<li>By continuing to use NullFire after a change to these Terms and Conditions, you agree to the updated Terms and Conditions.</li>
			<li>If you do not agree to changes made to these Terms and Conditions, you must immediately cease your use of NullFire.</li>
		</ul>
		<p>These Terms and Conditions were last modified on <time datetime="2025-10-02">October 2nd, 2025</time>.</p>
		<p>If you have any issues or questions, please create a ticket in our Discord server.</p>
	</Section>

	<br />
	<p>Copyright &copy; 2025 NullFire. All Rights Reserved. | <a href="/privacy" rel="privacy-policy noreferrer">Privacy Policy</a></p>
</Page>

<style>
	.buttonsList {
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		gap: 24;
	}

	.purchaseButton {
		background-color: #8c00ff;
		color: #fff;
		border: 2px solid #8c00ff;
		border-radius: 7px;
		padding: 8px 20px;
		font-size: 14px;
		font-weight: 700;
		font-family: "Quicksand", Helvetica, Arial, sans-serif;
		cursor: pointer;
		display: inline-block;
		text-align: center;
		text-decoration: none;
	}
	.purchaseButton:hover {
		opacity: 0.85;
	}

	.kofi-icon {
		width: 20px;
		height: 15px;
	}

	.rbx-icon {
		width: 20px;
		height: 20px;
	}
</style>
