---
interface Props {};
---

<div class="SectionList">
	<slot />
</div>

<style is:global>
.SectionList {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	row-gap: 0;
}
</style>
