---
interface Props {
	title: string;
	id: string;
}

const { title, id } = Astro.props;

import Part from "./Part.astro";
---

<Part>
	<section class="Section">
		<h2 id={id}>{title}</h2>
		<div><slot /></div>
	</section>
</Part>

<style is:global>
.Section {
	display: block;
	text-indent: 0;
	/* background-color: var(--ui-color); */
	/* border: var(--border); */
	/* padding: 1rem; */
	margin-top: 5rem;
	align-items: center;
	justify-items: center;
	justify-content: center;

	& > h2 {
		/* background-color: #5555; */
		/* border: 2px #0003 solid; */
		/* padding: 0.3rem; */
		padding: 0;
	}

	& > div {
		font-size: 1.3rem;
		margin-top: 1rem;
		padding-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;

		&:has(> p:first-child) {
			margin-top: 0;
		}
	}
}
</style>
