---
import Head from "@components/Head.astro";
import bgImage from "@assets/reception_blur.webp";
import "@styles/main.css";

interface Props {
	path: string;
	title: string;
}

const { path, title } = Astro.props;
---

<!doctype html>
<html lang="en-US">
	<Head path={path} title={title}>
		<Fragment slot="preload">
			<link
				rel="preload"
				href={bgImage.src}
				as="image"
				fetchpriority="high"
				referrerpolicy="no-referrer"
			/>
			<slot name="preload" />
			<link
				rel="preload"
				href="/fonts/JetBrainsMono.woff2"
				as="font"
				fetchpriority="low"
				referrerpolicy="no-referrer"
			/>
			<link
				rel="preload"
				href="/fonts/JetBrainsMono-Italic.woff2"
				as="font"
				fetchpriority="low"
				referrerpolicy="no-referrer"
			/>
		</Fragment>
		<slot name="head" />
	</Head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

