---
import { getImage } from "astro:assets";
import Head from "@components/Head.astro";
import bgImage from "@assets/reception_blur.webp";
import "@styles/main.css";

interface Props {
	path: string;
	title: string;
}

const { path, title } = Astro.props;

const optimizedBackgroundImage = await getImage({
	src: bgImage.src,
	width: bgImage.width,
	height: bgImage.height,
	format: "webp",
	quality: "max",
	priority: true
});
---

<!doctype html>
<html lang="en-US">
	<Head path={path} title={title}>
		<Fragment slot="preload">
			<link
				rel="preload"
				href={optimizedBackgroundImage.src}
				as="image"
				fetchpriority="high"
				referrerpolicy="no-referrer"
			/>
			<slot name="preload" />
			<link
				rel="preload"
				href="/fonts/JetBrainsMono.woff2"
				as="font"
				fetchpriority="low"
				referrerpolicy="no-referrer"
			/>
			<link
				rel="preload"
				href="/fonts/JetBrainsMono-Italic.woff2"
				as="font"
				fetchpriority="low"
				referrerpolicy="no-referrer"
			/>
		</Fragment>
		<slot name="head" />
	</Head>
	<body style={`background-image: url('${optimizedBackgroundImage.src}');`}>
		<main>
			<slot />
		</main>
	</body>
</html>
